/*
Format to include this file in any .xaml file that we need to include
<ContentPage>
<ContentPage.Resources>
<StyleSheet Source="../StyleSheet.css" />
</ContentPage.Resources>
</ContentPage>
*/

^ContentPage {
    background-color: white;
}

grid.main {
   padding: 15;
}

.serviceSelectionGrid
{
    padding-bottom: 5;
}

.floatingObject
{
    padding: 15;
    background-color: transparent;
}

.primaryLabel
{
    text-align: center;
    font-size: 30;
    font-weight: bold;
    text-decoration-color: black;
}

.secondaryLabel
{
    text-align: center;
    font-size: 20;
    font-weight: bold;
    text-decoration-color: black;
}

.listPrimaryLabel
{
    text-align: left;
    font-size: medium;
    font-weight: bold;
    text-decoration-color: black;
}

.listSecondaryLabel {
    text-align: left;
    font-size: medium;
    font-style: normal;
    text-decoration-color: black;
}

.contactButton {
    text-align: center;
    font-size: small;
    horizontal-align: center;
    text-decoration-color:black;
    background-color:transparent;
    border-color:lightgray;
    border-radius:15;
    border-width:0.5;
}

.primaryButton {
    border-radius: 15;
    border-width: 5;
    background-color:#119bcc;
}

.secondaryButton {
    border-radius: 15;
    border-width:0.5;
    background-color:#a5d5ed;
    font-size: small;
    text-decoration-color: black;
}
.durationLabel{
    margin: 15;
    font-size: medium;
}