/*
Format to include this file in any .xaml file that we need to include
<ContentPage>
<ContentPage.Resources>
<StyleSheet Source="../StylesNik.css" />
</ContentPage.Resources>
</ContentPage>
*/

^ContentPage {
    background-color: beige;
}

grid.main {
   padding: 15;
}

.primaryLabel
{
    text-align: center;
    font-size: 30;
    font-style: bold;
}

.contactLabel
{
    text-align: center;
    font-size: small;
    text-decoration-color: black;
}

.primaryButton {
    border-radius: 15;
    border-width: 5;
    background-color:#119bcc;
}

.secondaryButton {
    border-radius: 25;
    background-color: lightblue;
    font-size: small;
}
