/*
Format to include this file in any .xaml file that we need to include
<ContentPage>
<ContentPage.Resources>
<StyleSheet Source="../StyleSheet.css" />
</ContentPage.Resources>
</ContentPage>
*/

^ContentPage {
    background-color: white;
}

grid.main {
   padding: 15;
}

.primaryLabel
{
    text-decoration-color: black;
    text-align:center;
    font-size:30;
    font-style: bold;
}

.contactLabel
{
    text-align: center;
    font-size: small;
    horizontal-align: center;
    text-decoration-color: black;
}

.primaryButton {
    border-radius: 15;
    border-width: 5;
    background-color:#119bcc;
}

.secondaryButton {
    border-radius: 25;
    background-color:#a5d5ed;
    font-size: small;
    text-decoration-color: black;
}
.durationLabel{
    margin: 15;
    font-size: medium;
}